        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            color: #333;
        }

        #container {
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-areas:
                "header header header"
                "nav nav nav"
                "sidebar-left content sidebar-right"
                "footer footer footer";
            grid-template-rows: auto auto 1fr auto;
            grid-template-columns: 1fr 3fr 1fr;
            gap: 10px;
        }

        header, nav, main, aside, footer {
            padding: 20px;
            text-align: center;
            color: white;
        }

        header {
            grid-area: header;
            background-color: #d12020;
        }

        nav {
            grid-area: nav;
            background-color: #ff6f00;
        }

        .sidebar-left {
            grid-area: sidebar-left;
            background-color: #d14949;
        }

        main {
            grid-area: content;
            background-color: #ff9d21;
        }

        .sidebar-right {
            grid-area: sidebar-right;
            background-color: #d14949;
        }

        footer {
            grid-area: footer;
            background-color: #d12020;
        }
 