   body {
       background-color: darkorchid);
       box-shadow: -26px 32px 35px 0px rgba(201,27,27,0.44);
-webkit-box-shadow: -26px 32px 35px 0px rgba(201,27,27,0.44);
-moz-box-shadow: -26px 32px 35px 0px rgba(201,27,27,0.44);
   }
   h1 {
       background-color:lightseagreen;
       color: Tomato;
       text-align: center;
       border:3px solid Violet;
   }
  
   h2 {
      color: yellow;
      background-color:Gray;
      text-align: center;
      border:border:8px solid #5072ff;
   }

   p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: orange;
   }
 